@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid red; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.imagecover {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: calc(100vh - 80px);
}

.imagecover2 {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlap1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlap2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 1;
}

.overlap3 {
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

.TitleText{
    font-size:30px;
}

.HeaderText{
    font-size:24px;
}

.SubtitleText{
    font-size:17px;
}

.ParagraphText{
    font-size:15px;
}

/* xxs breakpoint */
@media only screen and (min-width: 512px) {
}

/* xs breakpoint */
@media only screen and (min-width: 576px) {

}

/* sm breakpoint */
@media only screen and (min-width: 640px) {
    .TitleText{ font-size:34px;}
    .HeaderText{ font-size:28px;}
    .SubtitleText{ font-size:18px;}
    .ParagraphText{ font-size:16px;}

}

/* md breakpoint */
@media only screen and (min-width: 768px) {
    .TitleText{ font-size: 40px;}
    .HeaderText{ font-size: 32px;}
    .SubtitleText{ font-size: 20px;}
    .ParagraphText{ font-size: 16px;}
    .resumepic{
        height: calc(100vh - 80px);
        min-height: 700px;
    }
}

/* lg breakpoint */
@media only screen and (min-width: 1024px) {
    .TitleText{ font-size: 50px;}
    .HeaderText{ font-size: 40px;}
    .SubtitleText{ font-size: 22px;}
    .ParagraphText{ font-size: 17px;}
}

/* xl breakpoint */
@media only screen and (min-width: 1280px) {
    .TitleText{ font-size: 60px}
    .HeaderText{ font-size: 45px}
}

/* 2xl breakpoint */
@media only screen and (min-width: 1536px) {
    .TitleText{ font-size: 70px}
    .HeaderText{ font-size: 50px}
    .SubtitleText{ font-size: 22px}
    .ParagraphText{ font-size: 18px}
}

